<div class="wrapper">
<article>
<h1>
	<a href="{{ site.url }}{{ page.url }}">{{ page.title }}</a> 
	<small class="pull-right">{{ page.date | date:"%b %d, %Y" }}</small>
</h1>
{{ content }}
</article>
<div>
{% if page.tags %}
<br/>
  标签： 
{% endif %}
{% for tag in page.tags %}
	<a class="label" href="/tag/#{{ tag }}">{{ tag }}</a>
{% endfor %}</div>
<hr/>
<!-- UJian Button BEGIN -->
<div class="ujian-hook"></div>
<script type="text/javascript" src="http://v1.ujian.cc/code/ujian.js?uid=1675928"></script>
<!-- UJian Button END -->
<hr/>
<ul class="pager">
	{% if page.previous %}
		<li class="previous">
		<a href="{{ page.previous.url }}">&larr; {{ page.previous.title }}</a>
		</li>
	{% endif %}
	{% if page.next %}
		<li class="next">
		<a href="{{ page.next.url }}" class="pull-right">{{ page.next.title }} &rarr;</a>
		</li>
	{% endif %}
</ul>
<hr/>
<!-- Disqus BEGIN -->
<script type="text/javascript" charset="utf-8">
	var disqus_url = "http://guiquanz.github.com{{page.url}}";
	var disqus_developer = 1;
</script>
<div id="disqus_thread"></div>
<script type="text/javascript" src="http://disqus.com/forums/guiquanz/embed.js"></script>
<noscript>
	<a href="http://disqus.com/forums/guiquanz/?url=ref">View the discussion thread.</a>
</noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by 
	<span class="logo-disqus">Disqus</span>
</a>
<!-- Disqus END -->
